<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<style>
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }
   	
</style>
<script>
  angular.module('checkboxExample', [])
    .controller('ExampleController', ['$scope', function($scope) {
      $scope.checkboxModel = {
       value1 : true,
       value2 : 'YES'
     };
    }]);
    
</script>
<body ng-app>
 
  <table>	 
     <tr>
        <td>First Name : </td>
        <td><input type="text" ng-model="name"/></td>
     </tr>
     <tr>
        <td>Middle Name : </td>
        <td><input type="text" ng-model="middle"/></td>
     </tr>
     <tr>
        <td>Last Name : </td>
        <td><input type="text" ng-model="last"/></td>
     </tr>
     <tr>
     	<td>Age : </td>
        <td><input type="number" ng-model="age"/></td>
     </tr>
     <tr>
     	<td>Subject : </td>
        <td><input type="checkbox"  ng-model="DotNet"  name="gender"  />.NET &nbsp;&nbsp;
        <input type="checkbox"  ng-model="Java "/>Adv.Java&nbsp;&nbsp;
        
        <input type="checkbox"  ng-model="Android"/>Android</td>
     </tr>
     <tr>
     	<td>Gender : </td>
        <td><input type="radio"  ng-model="usergender"  name="gender" value="Male" checked />Male
        &nbsp;&nbsp;
         <input type="radio"  ng-model="usergender"  name="gender" value="Female" />Female</td>
     </tr>
  </table>
  <br/><br/>
  <table>	 
     <tr>
        <td>Full Name : </td>
        <td>{{name+' '+middle+' '+last}} </td> 
     </tr> 
     <tr>
     	<td>Age : </td> 
        <td>{{age}}</td>
     </tr>
     
     <tr ng-switch="usergender" >
     	<td>Gender :</td>
     	<td  ng-switch-when="Male" >
        	  {{usergender}}
        </td> 
        <td  ng-switch-when="Female" >
        	  {{usergender}}
        </td> 
     </tr>
     <tr><td>Subject :</td></tr> 
     <tr>
     	<td></td> 
     	<td style="border:1px solid black;" >
        	 <div ng-show="DotNet">
             	 
                <b>ASP.NET</b>
                
          	 </div>
            <div ng-show="Java" >
            
                   <b> ADV.JAVA</b>
            </div> 
            <div  ng-show="Android" >
              
                 <b> ANDROID</b>
            </div> 
        </td> 
     </tr>
  </table>
  
 
</body>

</html>